
.title {
    color: #1F252D;
    text-align: center;
    font-family: Usually-font;
    font-size: 130px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.container {
    display: flex;
}

.catalog {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding-left: 100px;
}

.catalog a {
    color: #FFF;
    font-family: "Uindbase Font 1";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
}

@media all and (max-width: 1150px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 110px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}

@media all and (max-width: 1100px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 100px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}

@media all and (max-width: 1050px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 100px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}


@media all and (max-width: 1000px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 90px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}

@media all and (max-width: 950px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 80px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}

@media all and (max-width: 900px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 70px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}

@media all and (max-width: 850px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 70px
    }

    .catalog {
        display: flex;
        padding-left: 30px;
    }
}

@media all and (max-width: 800px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 70px
    }

    .catalog {
        display: flex;
    }
}

@media all and (max-width: 750px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 70px
    }

    .catalog {
        display: flex;
    }
}

@media all and (max-width: 700px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 70px
    }

    .catalog {
        display: flex;
    }
}

@media all and (max-width: 650px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 50px
    }

    .catalog {
        display: flex;
    }
}

@media all and (max-width: 600px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 50px
    }

    .catalog {
        display: flex;
    }
}


@media all and (max-width: 550px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 50px
    }

    .catalog {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 45px
    }

    .catalog {
        display: none;
    }
}

@media all and (max-width: 450px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 35px
    }

    .catalog {
        display: none;
    }
}

@media all and (max-width: 425px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 35px
    }

    .catalog {
        display: none;
    }
}

@media all and (max-width: 375px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 35px
    }

    .catalog {
        display: none;
    }
}

@media all and (max-width: 320px) {
    .title {
        padding-top: 80px;
        padding-bottom: 30px;
        font-size: 35px
    }

    .catalog {
        display: none;
    }
}