* {
    margin: 0;
    padding: 0;
}
.header {
    padding-top: 35px;
}

.menu {
    border: none;
    background: none;
    color: #D1C12B;
}

.container__nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container__nav  {
    display: flex;
    justify-content: space-around;
}

.wrapper__nav  {
    display: flex;
    align-items: center;
    gap: 55px;

}

.wrapper__nav li {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
    color: #fff; 
}

.wrapper__link {
    text-decoration: none;
    color: #fff;
}

.wrapper__link:hover {
    color: rgba(209, 193, 43, 1);
}

.icons {
    display: flex;
    gap: 5px;
}

.block {
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    font-weight: 400;
    font-family: "Uindbase Font 1";
    font-size: 15px;
    gap: 68px;
    color: #fff;
}

@media all and (max-width: 850px) {
    .header {
        padding: 35px 15px 0 15px;
    }

    .wrapper__nav svg {
        display: none;
    }

    .container__nav {  
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    
    }

    .wrapper__nav {
        align-items: flex-start;     
        position: relative;
    }

    .nav li {
        font-size: 18px;
    }

    .content {
        display: none;
    }
}

@media all and (max-width: 800px) {
    .header {
        padding: 35px 15px 0 15px;
    }

    .wrapper__nav svg {
        display: none;
    }

    .container__nav {  
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    
    }

    .wrapper__nav {
        align-items: flex-start;     
        position: relative;
    }

    .nav li {
        font-size: 18px;
    }

    .content {
        display: none;
    }
}

@media all and (max-width: 799px) {
    .nav {
        position: absolute;
        left: 145px;
    }
}

@media all and (max-width: 768px) {
    
    .header {
        padding: 35px 15px 0 15px;
    }

    .wrapper__nav svg {
        display: none;
    }

    .container__nav {  
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    
    }

    .wrapper__nav {
        align-items: flex-start;     
        position: relative;
    }

    .nav {
        position: absolute;
        left: 145px;
    }

    .nav li {
        font-size: 18px;
    }

    .content {
        display: none;
    }

}

@media all and (max-width: 700px) {
    .nav {
        left: 125px;
    }
}

@media all and (max-width: 650px) {
    .nav {
        left: 115px;
    }
}

@media all and (max-width: 600px) {
    .nav {
        left: 105px;
    }
}

@media all and (max-width: 550px) {
    .nav {
        left: 95px;
    }
}

@media all and (max-width: 500px) {
    .nav {
        left: 85px;
    }
}

@media all and (max-width: 425px) {
    
    .header {
        padding: 35px 15px 0 15px;
    }

    .wrapper__nav svg {
        display: none;
    }

    .container__nav {  
    justify-content: space-between;
    align-items: flex-start;
    
    }

    .wrapper__nav {
        align-items: flex-start;     
        position: relative;
    }

    .nav {
        position: absolute;
        left: 130px;
    }

    .nav li {
        font-size: 18px;
    }

    .content {
        display: none;
    }

}

@media all and (max-width: 375px) {
    
    .header {
        padding: 35px 15px 0 15px;
    }

    .wrapper__nav svg {
        display: none;
    }

    .container__nav {  
    justify-content: space-between;
    align-items: flex-start;
    
    }

    .wrapper__nav {
        align-items: flex-start;     
        position: relative;
    }

    .nav {
        position: absolute;
        left: 110px;
    }

    .nav li {
        font-size: 18px;
    }

    .content {
        display: none;
    }

}

@media all and (max-width: 320px) {
    
    .header {
        padding: 35px 15px 0 15px;
    }

    .wrapper__nav svg {
        display: none;
    }

    .container__nav {  
    justify-content: space-between;
    align-items: flex-start;
    
    }

    .wrapper__nav {
        align-items: flex-start;     
        position: relative;
    }

    .nav {
        position: absolute;
        left: 80px;
    }

    .nav li {
        font-size: 18px;
    }

    .content {
        display: none;
    }

}



@media (min-width: 800px) {
    .menu {
        display: none;
    }
    
    .nav {
        display: flex;
        gap: 20px;
    }
    }




